@import "./base.css";
@import "./transition.css";

@import "./variable.scss";
@import "./mixin.scss";

#app {
  width: 1200px;
  height: 98vh;
  margin: 0 auto;
  font-weight: normal;
  overflow: auto;
}


